.log{
  background-color:rgb(255,255,255);
  width:"40rem";
   height:"44rem";
   padding-left: 15%;
   padding-top: 1%;
}
.hack{
display:flex
}
.ctn{
height: 300px;
width: 199.88531494140625px;
left: 1098px;
top: 58px;
border-radius: 0px;

}